@using Newtonsoft.Json

@model Vehiculo

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}


@{
    ViewData["Title"] = "Crear Vehículo";
    var marcas = ViewBag.Marcas;
    var modelos = ViewBag.Modelos;

}

<h1>@ViewData["Title"]</h1>


<div id="vue-app">
    <form asp-action="Create" method="post">

        <div class="form-group">
            <label for="Marca">Marca</label>
            <select v-model="marca" class="form-control" name="IdMarca" required>
                <option value="">Seleccionar marca</option>
                <option v-for="m in marcas" :key="m.id" :value="m.id">{{ m.descripcion }}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="Modelo">Modelo</label>
            <select v-model="modelo" class="form-control" name="IdModelo" required>
                <option value="">Seleccionar modelo</option>
                <option v-for="m in modelosFiltrados" :key="m.id" :value="m.id">{{ m.descripcion }}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="Anio">Año</label>
            <select v-model="ano" class="form-control" name="Anio" required>
                <option value="">Seleccionar año</option>
                <option v-for="anio in anios" :key="anio" :value="anio">{{ anio }}</option>
            </select>

        </div>

        <div class="form-group">
            <label for="Precio">Precio</label>
            <input type="number" class="form-control" id="Precio" name="Precio" step="0.01" required />
        </div>

        <div class="form-group">
            <label for="Kilometraje">Kilometraje</label>
            <input type="number" class="form-control" id="Kilometraje" name="Kilometraje" required />
        </div>

        <div class="form-group">
            <label for="Combustible">Combustible</label>
            <select class="form-control" id="Combustible" name="Combustible" required>
                <option value="">Seleccionar tipo</option>
                <option value="Nafta">Nafta</option>
                <option value="Nafta/ GNC">Nafta/ GNC</option>
                <option value="Gasoil">Gasoil</option>
            </select>
        </div>


        @* <div class="form-group">
            <label for="Estado">Estado</label>
            <select class="form-control" id="Estado" name="Estado">
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
            </select>
        </div> *@


        <button type="submit" class="btn btn-primary mt-2">Guardar</button>
    </form>
</div>

@section Scripts {
    <script>
        new Vue({
            el: '#vue-app',
            data: {
                marca: '',
                modelo: '',
                marcas: @Html.Raw(JsonConvert.SerializeObject(ViewBag.Marcas)),
                modelos: @Html.Raw(JsonConvert.SerializeObject(ViewBag.Modelos)),
                ano: '',
                anios: Array.from({ length: 20 }, (_, i) => new Date().getFullYear() - i),
            },
            computed: {
                modelosFiltrados() {
                    // Filtra los modelos según la marca seleccionada
                    if (this.marca) {
                        return this.modelos.filter(m => m.idMarca === parseInt(this.marca));
                    }
                    return [];
                }
            }
        });
    </script>
}
