@model Vehiculo

@{
    ViewData["Title"] = "Detalles del Vehículo";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h3>Marca: @Model.Modelo.Marca.Descripcion</h3>
    <h4>Modelo: @Model.Modelo.Descripcion</h4>
    <p>Año: @Model.Anio</p>
</div>

<a href="@Url.Action("Index", "Vehiculo")" class="btn btn-secondary">Volver al listado</a>
